
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #34d1bf;
    padding: 10px 20px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.header-container .logo img {
    height: 50px;
    margin-right: 10px;
}
.header-container .header-actions a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-container .header-actions img {
    height: 24px;
}
.main-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
.filters {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.filters h3 {
    margin-bottom: 10px;
}
.filters ul {
    list-style: none;
    padding: 0;
}
.filters ul li {
    margin-bottom: 10px;
}
.filters input[type="search"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.product-container {
    width: 75%;
    margin-left: 20px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.product-item {
   flex: 1 1 calc(33.333% - 20px);
    width: 15%;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
}
.product-item img {
    height: 150px;
    width: auto;
    display: block;
    margin: 0 auto 15px;
}
.product-item h3 {
    margin: 15px 0;
    color: #333;
    font-size: 16px;
    line-height: 1.2;
}
.product-item .price {
    color: #34d1bf;
    font-size: 18px;
    margin-bottom: 15px;
}
.product-item button {
    padding: 10px;
    width: 100%;
    background-color: #34d1bf;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.product-item button:hover {
    background-color: #28a796;
}
.product-item .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #34d1bf;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}
